main {
    width: 100vw;
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.branch {
    padding: .5em;
    font-size: 1.2em;
    width: 10em;
    height: 10em;
    background-color: #131313;
    color: rgba(255, 68, 0, 0.6);
    text-align: center;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    cursor: pointer;
}


.branch:hover {
    color: #131313;
    background-color: rgba(255, 68, 0, 0.6);

}
