main {
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

table {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    color: white;
}

td {
    padding: 0.5em;
}

td button {
    background-color: rgba(255, 68, 0, 0.6);
    border: none;
    font-size: 1em;
    margin: 0 .3em;
    padding: .5em;
    border-radius: .3em;
    color: white;
}

td button:hover {
    background-color: #131313;
    color: rgba(255, 68, 0, 0.6);
    cursor: pointer;
}

th {
    padding-bottom: 1.2em;
    color: rgba(255, 68, 0, 0.6);
}

.table-header {
    border-bottom: solid 1px red;
}

.table-item.alert,
.table-item:hover {
    background-color: rgba(255, 68, 0, 0.6);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313ef;
    padding: 4em;
    width: 60%;
    max-width: 40em;
    min-width: 25em;
}

label {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 2em;
    width: 100%;
}

form input {
    width: 100%;
}

form button {
    background-color: orangered;
    border: none;
    padding: 0.5em 3em;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    width: 100%;
    cursor: pointer;
}

a {
    margin-top: .5em;
    color: rgba(255, 68, 0, 0.6);
}
